body {
  text-align: center;
  display: block;

  background-color: rgb(235, 233, 233);
}
main,
input {
  font-size: 18px;
  line-height: 1.4;
}
#weather-notice {
  background-color: rgb(187, 176, 176);
  color: purple;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 150%;
}
.weather {
  color: rgb(209, 179, 8);
  border: solid;
  border-color: purple;
  padding-bottom: 20px;
  margin: 70px 300px 80px 300px;
}
#searchBtn {
  background-color: rgb(209, 179, 8);
  height: 40px;
  width: 80px;
}
.containerEl {
  border: solid;
  padding-top: 15px;
  border-color: purple;
  margin: 70px 300px 80px 300px;
  list-style-type: none;
  color: rgb(209, 179, 8);
}
.location {
  padding: 20px;
  display: inline;
}
.invisible {
  display: none;
}
